{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1 class="mb-4">Edit Task</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Update</button>
    {{ form_end(form) }}

    <a href="{{ path('app_task_index') }}" class="btn btn-secondary mt-3">Back to list</a>

    <form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Are you sure you want to delete this task?');" class="d-inline">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
        <button class="btn btn-danger mt-3">Delete</button>
    </form>
{% endblock %}